<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.weatherlistwidget">

    <uses-sdk android:minSdkVersion="11"
        android:targetSdkVersion="14"/>
    <application android:label="Weather Widget Sample">
        <!-- The widget provider -->
        <receiver android:name="WeatherWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <!-- This specifies the widget provider info -->
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widgetinfo" />
        </receiver>

        <!-- The service serving the RemoteViews to the collection widget -->
        <service android:name="WeatherWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

        <!-- The content provider serving the (fake) weather data -->
        <provider android:name="WeatherDataProvider"
            android:authorities="com.example.android.weatherlistwidget.provider" />
    </application>
</manifest>
